{% extends 'base.html' %}

{% load static %}
{% load markdownify %}

{% block content %}
{% if user.username == mealplan.owner.username %}
<main class="mealplans-detail">
    <div>
        <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>Recipes for {{ mealplan.name }}</h2>
    {% for recipe in mealplan.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}

    <P>Meal plan to be served on {{mealplan.date}}.</P>
</main>
{% endif %}
{% endblock content %}